body {
  font-family: 'Roboto Mono', monospace;
}
.my_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro_div {
  width: 30%;
  height: 30%;
  h1 {
    font-size: 48px;
    color: #fff;
  }
  p {
    font-size: 24px;
    color: #fff;
  }
}
